<!DOCTYPE html>
<html lang="ja">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>1stAIプロジェクト</title>
    <link rel="stylesheet" type="text/css" href= {% static "css/style.css" %}>
  </head>
  <body>
    <header id="header">
      <nav>
          <a class="logo" href={% url "predict:top_page" %}>
            <img src={% static "images/predict/logo.jpg" %}>
          </a>
          <ul>
        {% if user.is_authenticated %}
            <li>
              <a href="/admin">
                <img class="active" src={% static "images/item/icon_setting-active.svg" %}>
                <img class="inactive" src={% static "images/item/icon_setting.svg" %}>
                トップページ
              </a>
            </li>
        {% endif %}
            <li>
              <a href="/accounts/logout">
                <img class="active" src="https://aiacademy.jp/assets/images/icon_mypage-active.svg">
                <img class="inactive" src="https://aiacademy.jp/assets/images/icon_mypage.svg">
                {{ user.username }}さんログアウト
              </a>
            </li>
          </ul>
      </nav>
    </header>

    <div class="flex">
      <div class="sidebar">
        {% if user.is_authenticated %}
        <ul class = "nab" style="text-align:left;">
          <li><a href = {% url "predict:top_page" %}>トップページ</a></li>
        </ul>
        <ul class = "nab" style="text-align:left;">
          <li><a href = {% url "predict:predict" %}>predict</a></li>
        </ul>
        {% endif %}
      </div>

      <div class = "main-container">
        <div class = "contents">
          {% block contents %}

          {% endblock %}
        </div>
      </div>
    </div>

  </body>
</html>
